extends layouts/main-layout.pug

block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
                br
                label(for="price") Price
                input(type="text", name="price")#price
                br
                label(for="descr") Description
                input(type="text", name="descr")#descr
                br
            button.btn(type="submit") Add Product